<html xmlns:th="https://thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AdminHome</title>

    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/admin/admin.css">
</head>
<body>

    <h1>AdminHome</h1>

    <div>
        <div>
            <a th:href="@{/adminBus}">adminBus</a>
        </div>

        <div>
            <a th:href="@{/adminDriver}">adminDriver</a>
        </div>

        <div>
            <a th:href="@{/adminSchedule}">adminSchedule</a>
        </div>

        <div>
            <a th:href="@{/adminBooking}">adminBooking</a>
        </div>

    </div>

    <a th:href="@{/index}">logout(На главную страницу)</a>

</body>
</html>