/*adminHome*/

.adminHome {
    margin-top: 40px;
    background-color: #5d8fc9;

}

.adminHome section {
    border-radius: 5px;
    background-color: #fff;

    padding: 10px;
}

.adminHome div {
    /*border: 1px solid black;*/
    border-radius: 5px;

    background-color: #fff;

    padding: 10px;
}
.adminHome h1 {
    margin-top: 0;
}

.adminHome a {
    background-color: #5d8fc9;

    border-radius: 5px;

    padding: 10px;
}

.adminHome label {
    font-size: 45px;

    margin-left: 10px;
    justify-content: center;
    align-content: center;

    margin-top: 20px;
    margin-bottom: 25px;
}




.flex-column {
    margin-top: 50px;
    border: none;
}


/*BOOKING*/
/*adminBooking*/
section, .center {
}

body {
    background-color: #5d8fc9;
    display: flex;
    justify-content: center;

}

section {
    margin-top: 20px;

}


.button-custom {
    text-decoration: none;

    background-color: #17a2b8;
    border-radius: 5px;
    padding: 10px;
    font-size: 50px;
    color: #fff;
}

.adminBooking-table {
    width: 900px;
}

.adminBooking-container {
    width: 970px;
}




table {
    counter-reset: rowNumber;
}

.table-row-count::before {
    display: table-cell;
    counter-increment: rowNumber;
    content: counter(rowNumber);
    padding-right: 0.3em;
    text-align: right;
}


/*infoBooking*/







/*BUS*/
/*adminBus*/


section {
    margin-top: 20px;
}


.button-custom {
    text-decoration: none;

    background-color: aqua;
    border-radius: 5px;
    padding: 10px;
    font-size: 50px;
    color: #fff;
}

.adminBus-table {
    width: 450px;
}

.adminBus-container {
    width: 550px;
}







/*editBus*/




/*newBus*/









/*DRIVER*/
/*adminDriver*/
section, .center {
}



section {
    margin-top: 20px;

}


.button-custom {
    text-decoration: none;

    background-color: aqua;
    border-radius: 5px;
    padding: 10px;
    font-size: 50px;
    color: #fff;
}

.adminDriver-table {
    width: 750px;
}

.adminDriver-container {
    width: 820px;
}







/*editDriver*/



/*newDriver*/









/*SCHEDULE*/
/*adminSchedule*/
section, .center {
}



section {
    margin-top: 20px;

}


.button-custom {
    text-decoration: none;

    background-color: #17a2b8;
    border-radius: 5px;
    padding: 10px;
    font-size: 50px;
    color: #fff;
}

.adminSchedule-table {
    width: 900px;
}

.adminSchedule-container {
    width: 970px;
}





/*editSchedule*/



/*newSchedule*/



