<html xmlns:th="https://thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment</title>

    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/user/user.css">


</head>
<body>


    <a th:href="@{/user/index}" class="home">HomePage</a>


    <div class="index">
        <h1 style="margin-bottom: 0px;">Payment</h1>


        <form class="" th:action="@{/user/showTicket}" method="post">

            <input type="text" th:value="${bookingInput.id}" class="hidden"  name="bookingId">
            <input type="text" th:value="${bookingInput.bookingName}" class="hidden"  name="bookingName">
            <input type="text" th:value="${bookingInput.scheduleId}" class="hidden"  name="scheduleId">
            <input type="text" th:value="${bookingInput.seats}" class="hidden"  name="seats">
            <input type="text" th:value="${bookingInput.price}" class="hidden"  name="price">

            <div class="row">
                <div class="">
                    <label>Card Name</label>
                    <input type="text" class="form-control"  placeholder="name" required/>
                </div>
                <div class="">
                    <label>Card Numbers</label>
                    <input type="text" class="form-control"  placeholder="XXXXXX"
                           required/>
                </div>
                <div class="">
                    <label>cvc/cvv</label>
                    <input type="text" class="form-control"  placeholder="123"
                           required/>
                </div>

                <label></label>
            </div>

            <input type="submit" value="Оплатить" class="custom-submit"/>
        </form>





<!--        <a th:href="@{/user/showTicket}">Оплатить</a>-->
    </div>
</body>
</html>