body {
    flex-direction: column;
}
.index {
    border: 1px solid black;
    padding: 30px 100px;

    background-color: aliceblue;
}

h1 {
    margin-bottom: 100px;
}


.row {
    margin: 30px 0;
}

label {
    font-size: 30px;
}
select {
    margin-top: 5px;
    font-size: 20px;
}

.login {
    background-color: blue;
    position: absolute;
    right: 20px;
    top: 20px;
}